body {
  background-color: lightgreen;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

pre {
  white-space: pre-line;
}
